* {
  margin: 0px;
  padding: 0px;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
}

img {
  object-fit: cover;
  height: 90vh;
  width: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  font-size: 2rem;
  padding: 2vw;
  background-color: rgb(255, 220, 175);
}

.link a {
  text-decoration: none;
  color: black;
  border: solid 2px black;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 30px;
}

.link {
  margin-top: 2vh;
}

.link a:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: cover;
    height: 45vh;
    width: 100%;
  }
  .textContainer {
    font-size: 1.2rem;
    height: 45vh;
  }
  .link a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  .textContainer {
    font-size: 3.6rem;
  }
  .link a {
    font-size: 2.4rem;
    padding: 0.8rem;
    border-radius: 50px;
    border: solid 4px black;
  }
}
